<section *ngIf="section; then thenBlock; else elseBlock">this is ignored</section>
<ng-template #eventsBlock>
    <h2>
      this is the just for test section {{section.name}}
    </h2>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
</ng-template>

<ng-template #galleryBlock>
  <h2>
    this is the just for test section {{section.name}}
  </h2>
  <p>
    ...Gallery will render more stuff...
  </p>
</ng-template>

<ng-template #newsletterBlock>
  <h2>
    this is the just for test section {{section.name}}
  </h2>
  <p>
    ...Newsletter will render more stuff...
  </p>
</ng-template>

<ng-template #contactUsBlock>
  <h2>
    this is the just for test section {{section.name}}
  </h2>
  <p>
    ...Contact us will render more stuff...
  </p>
</ng-template>
