<ng-container *ngIf="section; then thenBlock; else elseBlock">this is ignored</ng-container>
<ng-template #eventsBlock>
  <section>
    <h2>
      {{section.name}}
    </h2>
    <!--a routerLink="/events" routerLinkActive="active"><h2>{{section.name}}</h2></a-->
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
  </section>
</ng-template>

<ng-template #galleryBlock>
  <section>
    <h2>
      {{section.name}}
    </h2>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
  </section>
</ng-template>

<ng-template #newsletterBlock>
  <section>
    <h2>
      {{section.name}}
    </h2>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
  </section>
</ng-template>

<ng-template #contactUsBlock>
  <section>
    <h2>
      {{section.name}}
    </h2>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
    <p>
      Bacon ipsum dolor amet tenderloin cupim pastrami, burgdoggen spare ribs sausage pork belly frankfurter strip steak turkey. Alcatra chicken tail sausage, pig jowl pork chop. Drumstick brisket pig tail pork chop frankfurter meatloaf strip steak kevin kielbasa
      corned beef capicola. Rump landjaeger pastrami, beef ground round pork chop ham meatloaf meatball burgdoggen. Corned beef ribeye shankle capicola, picanha brisket frankfurter doner andouille landjaeger pig flank. Pork chop strip steak boudin, doner
      flank tenderloin beef drumstick beef ribs hamburger porchetta shankle bresaola fatback.
    </p>
  </section>
</ng-template>

<!--router-outlet></router-outlet-->
